include .gitignore
include CMakeLists.txt
include LICENSE
include README.md
include pyproject.toml
include setup.py
include test/example.sf2
include test/test_tinysoundfont.py
include tinysoundfont/main.cpp
include tinysoundfont/stb/stb_vorbis.c
include tinysoundfont/tsf/LICENSE
include tinysoundfont/tsf/tsf.h
exclude MANIFEST.in